<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Api para análise de mercado. Cotação de criptomoedas em Dólar ($) e Real (BRL)">
    <title>API Mercanalisa | Cotação de mercados</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="nav-text">
                <span>Mercanalisa - API</span>
            </div>
        </nav>
    </header>

    <main>
        <section class="p-3">
            <div class="my-3">
                <h4>Criptomoedas:</h4>
            </div>

            <div class="div-examples">
                <div class="mb-4">
                    <div class="div-flex mb-3">
                        <div class="label-div">
                            <span>
                                Dólar ($):
                            </span>
                        </div>

                        <div class="link-div">
                            <span>
                                <%= url_api %>/crypto/USD/:cripto
                            </span>
                        </div>
                    </div>

                    <div class="div-span-example">
                        <span>Ex.:</span>
                        <a href="<%= url_api %>/crypto/USD/BTC">
                            <%= url_api %>/crypto/USD/BTC
                        </a>
                    </div>

                </div>

                <hr>

                <div class="mb-4">
                    <div class="div-flex mb-3">
                        <div class="label-div">
                            <span>
                                Real (R$):
                            </span>
                        </div>
                        <div class="link-div">
                            <span>
                                <%= url_api %>/crypto/BRL/:cripto
                            </span>
                        </div>
                    </div>

                    <div class="div-span-example">
                        <span>Ex.:</span>
                        <a href="<%= url_api %>/crypto/BRL/BTC">
                            <%= url_api %>/crypto/BRL/BTC
                        </a>
                    </div>

                </div>
            </div>
            <hr>
        </section>
        <section class="p-3">
            <div>
                <h5>Atualizações</h5>
                <ul class="ml-3">
                    <li>Cotação (em USD e BRL) em mais de 100 Criptomoedas diferentes.</li>
                    <li>Cotação do Dólar/Real</li>
                </ul>
            </div>

            <div class="mt-4">
                <a href="/docs" role="button" class="btn">Ver documentação &raquo;</a>
            </div>
        </section>
    </main>

    <footer>
        <h6>Criado por <a href="#">Dievin</a> © 2020</h6>
    </footer>
</body>

</html>